<!-- Toolbar
 <div class="toolbar bg-light content" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto hederNav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="box">box</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="getdeleteListdata()">Delete</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="getallListdata()">edit</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#">Lock</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 fa-search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit"><i class="fa fa-angle-double-right fa-3x"></i></button>
        </form>
      </div>
    </nav> -->
